* {
    font-family: 'Helvetica';
}

/*body*/
body {
    background: #bde0fe;
}

/*header*/
header {
    background: linear-gradient(180deg, #ffc8dd, 75%, #bde0fe);
}

h1 {
    letter-spacing: -2px;
}

h4 {
    letter-spacing: -1px;
}

/* forcast display */
#hidden {
    display: none;
}

/*button*/
button {
    background: white;
    border-radius: 10px;
    border: 1px solid black;
}

/*ul display*/
ul {
    list-style: none;
}